#toc-tree.hs-btn-i .hstree-has-children > .hstree-node-btn > i:before {
  color: #333;
}
#toc-tree.hs-btn-i .hstree-has-children > .hstree-node-btn:hover > i:before {
  color: #1cc4f7;
}
#popup-box {
  background-color: White;
  border-color: #1c94c4;
}
#popup-box.pos-bottom:before {
  border-bottom-color: #1c94c4;
}
#popup-box.pos-bottom:after {
  border-bottom-color: White;
}
#popup-box.pos-top:before {
  border-top-color: #1c94c4;
}
#popup-box.pos-top:after {
  border-top-color: White;
}
#popup-box .content {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 13px;
}
#popup-box .message {
  color: #1c94c4;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .hs-popuplink {
  color: #1c94c4;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .hs-popuplink:focus {
  color: #6262C1;
  background-color: #fdf5ce;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
    #popup-box .hs-popuplink:hover {
        color: #6262C1;
        background-color: #fdf5ce;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
    }
#sorting-popup-menu {
  background-color: White;
  border-color: #1c94c4;
}
#sorting-popup-menu.pos-bottom:before {
  border-bottom-color: #1c94c4;
}
#sorting-popup-menu.pos-bottom:after {
  border-bottom-color: White;
}
#sorting-popup-menu.pos-top:before {
  border-top-color: #1c94c4;
}
#sorting-popup-menu.pos-top:after {
  border-top-color: White;
}
#sorting-popup-menu .menu-item {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 12px;
  color: #1c94c4;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-top-color: #b3e9ff;
}
    #sorting-popup-menu .menu-item:hover {
        color: #6262C1;
        background-color: #fdf5ce;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
    }
#search-box .search-btn {
  background-color: transparent;
}
#search-box .search-btn:before {
  color: #333;
}
#toc-tree.hs-btn-r .hstree-has-children > .hstree-node-btn > i {
  -moz-transition: -moz-transform 0.05s ease 0s;
  -webkit-transition: -webkit-transform 0.05s ease 0s;
  transition: transform 0.05s ease 0s;
}
#toc-tree .hstree-node-cnt {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 10pt;
}
#toc-tree .hstree-node-title > a {
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree .hstree-node-title > a:hover {
  color: #333;
  background-color: #fdf5ce;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree .hstree-node-title > a:focus {
  color: #333;
  background-color: #fdf5ce;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree .hstree-node.hstree-active > .hstree-node-cnt .hstree-node-title > a {
  color: White;
  background-color: #1c94c4;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree .hstree-node-cnt {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 10pt;
}
#index-tree .hstree-node-title > a {
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree li.hs-highlight > .hstree-node-cnt .hstree-node-title > a {
    color: #6262C1;
    background-color: #fdf5ce;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}
#index-tree .hstree-node-title > a:hover {
  color: #333;
  background-color: #fdf5ce;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree .hstree-node > .hstree-node-cnt .hstree-node-title > a:focus {
  color: #333;
  background-color: #fdf5ce;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree .hstree-node.hstree-active > .hstree-node-cnt .hstree-node-title > a {
  color: White;
  background-color: #1c94c4;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-form {
  border-bottom-color: #e78f08;
}
#search-result-tree .hstree-node-cnt {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 10pt;
}
#search-result-tree li.visited-topic > .hstree-node-cnt .hstree-node-title > a {
    color: #6262C1;
    background-color: #fdf5ce;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}
#search-result-tree .hstree-node-title > a {
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree .hstree-node-title > a:hover {
  color: #333;
  background-color: #fdf5ce;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree .hstree-node > .hstree-node-cnt .hstree-node-title > a:focus {
  color: #333;
  background-color: #fdf5ce;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree .hstree-node.hstree-active > .hstree-node-cnt .hstree-node-title > a {
  color: White;
  background-color: #1c94c4;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tabs .ui-tabs-panel {
  background: none 0 0 #eee;
}
.text-label {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 12px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result span.se-message {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 12px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
#tabs.ui-tabs .ui-tabs-nav {
  padding: 8px 0 0 4px;
}
#tabs .ui-widget-header {
  background: none 0 0 #f6a828;
  border-bottom-color: #e78f08;
}
.ui-tabs .ui-tabs-nav li {
  margin: 0 2px 0 0;
}
#tabs.ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  padding: 6px 6px;
}
#tabs .ui-corner-top {
  border-radius: 2px 2px 0 0;
}
#tabs .ui-widget-header .ui-state-default {
  background: none 0 0 #f6f6f6;
  border-color: #ccc;
}
#tabs .ui-widget-header .ui-state-hover {
  background: none 0 0 #fdf5ce;
  border-color: #fbcb09;
}
#tabs .ui-widget-header .ui-state-active {
  background: none 0 0 White;
  border-color: #fbd850;
}
#tabs .ui-tabs-nav {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 12px;
}
#tabs .ui-widget-header .ui-state-default a {
  color: #1c94c4;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tabs .ui-widget-header .ui-state-hover a {
    color: #6262C1;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}
#tabs .ui-widget-header .ui-state-active a {
  color: #eb8f00;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tab-index #kwd-search, #search-form #search-box {
  border-color: #e78f08;
}
#tab-index #kwd-search {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 13px;
  color: #333;
  background-color: #f8f8f8;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-form #squery {
  font-family: 'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
  font-size: 13px;
  color: #333;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  background: none;
}
#search-form #search-box {
  background-color: #f8f8f8;
}