p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
.ts0 {
  font-family: Tahoma;
}
.ts1 {
  font-family: Tahoma;
  font-size: 16pt;
  font-weight: bold;
}
.hs0 {
  font-family: Tahoma;
  font-size: 18pt;
  text-decoration: none;
  color: Blue;
}
.ps0 {
  text-align: center;
}
.ps1 {
  font-size: 11pt;
}
.ps2 {
  text-align: center;
  font-size: 11pt;
}
.ps3 {
  text-align: right;
}
.tbl0 {
  border-collapse: collapse;
  border-style: hidden;
  border-color: transparent;
}
.tbl0 > tbody > tr.row0 {
  border-style: hidden;
  border-color: transparent;
}
.tbl0 > tbody > tr > td.cell0 {
  width: 174pt;
  vertical-align: top;
  border-style: hidden;
  border-color: transparent;
}
.tbl0 > tbody > tr > td.cell1 {
  width: 43.4975cm;
  vertical-align: top;
  border-style: hidden;
  border-color: transparent;
}
.tbl0 > tbody > tr > td.cell2 {
  width: 181.5pt;
  vertical-align: top;
  border-style: hidden;
  border-color: transparent;
}