p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
.ts0 {
  font-family: Tahoma;
  font-size: 22pt;
  font-weight: bold;
}
.ts1 {
  font-family: Tahoma;
}
.ps0 {
  text-align: center;
}
.ps1 {
  text-align: center;
  font-size: 11pt;
}
.ps2 {
  font-size: 11pt;
}